altair==4.2.0
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
basemap==1.3.4
basemap-data==1.3.2
basemap-data-hires==1.3.2
beautifulsoup4==4.11.1
blinker==1.5
branca==0.5.0
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
commonmark==0.9.1
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
descartes==1.1.0
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.10.0
Fiona==1.8.21
folium==0.12.1.post1
fonttools==4.36.0
geobr==0.1.10
geopandas==0.7.0
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
importlib-metadata==4.12.0
ipykernel==6.15.1
ipython==8.4.0
ipywidgets==8.0.1
jedi==0.18.1
Jinja2==3.1.2
Js2Py==0.71
jsonschema==4.14.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-widgets==3.0.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
munch==2.5.0
nest-asyncio==1.5.5
numpy==1.22.4+vanilla
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
pip==22.2.2
pipwin==0.5.2
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
pure-eval==0.2.2
pyarrow==9.0.0
pydeck==0.7.1
Pygments==2.13.0
pyjsparser==2.7.1
Pympler==1.0.1
pyparsing==3.0.9
PyPrind==2.11.3
pyproj==3.3.1
pyrsistent==0.18.1
pyshp==2.3.1
pySmartDL==1.3.4
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pyzmq==23.2.1
requests==2.28.1
rich==12.5.1
Rtree==1.0.0
semver==2.13.0
setuptools==63.2.0
Shapely==1.8.2
six==1.16.0
smmap==5.0.0
stack-data==0.4.0
streamlit==1.12.0
streamlit-folium==0.6.14
toml==0.10.2
toolz==0.12.0
tornado==6.2
traitlets==5.3.0
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.11
validators==0.20.0
vega-datasets==0.9.0
watchdog==2.1.9
wcwidth==0.2.5
wheel==0.37.1
widgetsnbextension==4.0.2
zipp==3.8.1
GDAL==3.4.3
